.top {
  display: flex;
  /* align-content: center; */
  /* justify-content: flex-end; */
  justify-content: space-evenly;
  align-items: flex-end;
}
.kkll{
  background-color: cadetblue;
}
.p1 {
  height: 600px;


}
#main{
  background-color: cadetblue;
}

.score {
  display: flex;
  align-items: center;
}

.ss {
  display: none !important;
  background-color: cadetblue;
}

.Start {
  display: flex;
  justify-content: center;

}

.dis {
  display: block !important;
}
